.main {
  // relative w-full h-screen overflow-hidden
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(244, 209, 209);
}

.container {
  display: flex;
  height: 70vh;
  width: 40vw;
  align-items: center;
  justify-content: center;
}
